.header{
    background-color: #FFE3EF;
    height: 200px;
    font-size: larger;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

img{
    width: 200px;
}

.body{
    height: 250px;
    background-color: #F1E5DE;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.pesquisa{
    height: 50px;
    background-color: #ffffff;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
